[submodule "backend"]
	path = backend
	url = git@github.com:forrestjgq/tensorrtllm_backend.git
	branch = main
[submodule "trtllm"]
	path = trtllm
	url = git@github.com:forrestjgq/trtllm.git
	branch = main
[submodule "oaip"]
	path = oaip
	url = git@gitlab.deepglint.com:guoqingjiang/oaip.git
