# Main library, including compiled binaries
graft dgtrt
#graft js
#prune **/node_modules
graft test

# Misc
include requirements.txt
include setup.py

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.map
